##################################################################################################### 
# ******************************* TABLE OF CONTENTS ************************************************* 
#####################################################################################################
# - BETTERAUTH 
# - DB 
# - MEILI 
# - OPENCOLLECTIVE 




############################################################################################## 
# *********************************** betterauth ********************************************* 
############################################################################################## 
BETTER_AUTH_SECRET=
BETTER_AUTH_URL= 



###################################################################################### 
# *************************************** db ***************************************** 
###################################################################################### 
DATABASE_URL= 



######################################################################################### 
# ************************************* meili ******************************************* 
######################################################################################### 
MEILI_INDEX=
MEILI_MANAGE_KEY=
MEILI_MASTER_KEY=
MEILI_SEARCH_KEY=
MEILI_URL=
NEXT_PUBLIC_MEILI_INDEX=
NEXT_PUBLIC_MEILI_SEARCH_KEY=
NEXT_PUBLIC_MEILI_URL= 



################################################################################################## 
# ********************************* opencollective *********************************************** 
################################################################################################## 
NEXT_PUBLIC_OPEN_COLLECTIVE_COLLECTIVE_CURRENCY=
OPEN_COLLECTIVE_COLLECTIVE_CURRENCY=
OPEN_COLLECTIVE_COLLECTIVE_URL=
OPEN_COLLECTIVE_ENDPOINT=
OPEN_COLLECTIVE_TOKEN= 

